@model ASMCshrp4_12345.Models.Hoadon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Chi Tiết Hóa Đơn @Model.MaHoaDon</h1>

<div>
    <h4>Thông tin Hóa Đơn</h4>
    <dl class="row">
        <dt class="col-sm-2">Mã Hóa Đơn</dt>
        <dd class="col-sm-10">@Model.MaHoaDon</dd>

        <dt class="col-sm-2">Địa Chỉ Nhận Hàng</dt>
        <dd class="col-sm-10">@Model.DiaChiNhanHang</dd>

        <dt class="col-sm-2">Ngày Tạo</dt>
        <dd class="col-sm-10">@Model.NgayTao.ToString("dd/MM/yyyy")</dd>
        <dt class="col-sm-2">HTTT</dt>
        <dd class="col-sm-10">@Model.Httt</dd>
        <dt class="col-sm-2">Mã Khách hàng</dt>
        <dd class="col-sm-10">@Model.MaKh</dd>
        <dt class="col-sm-2">Mã Nhân Viên</dt>
        <dd class="col-sm-10">@Model.MaNv</dd>
        <dt class="col-sm-2">Mô tả</dt>
        <dd class="col-sm-10">@Model.MoTa</dd>
        <dt class="col-sm-2">Họ tên</dt>
        <dd class="col-sm-10">@Model.Hoten</dd>
        <dt class="col-sm-2">SĐT</dt>
        <dd class="col-sm-10">@Model.Sdt</dd>
        <dt class="col-sm-2">Thời Gian Đặt</dt>
        <dd class="col-sm-10">@Model.ThoiGianDat.ToString("dd/MM/yyyy")</dd>
        <dt class="col-sm-2">Thời Gian Giao</dt>
        <dd class="col-sm-10">@Model.ThoiGianGiao?.ToString("dd/MM/yyyy")</dd>
        <dt class="col-sm-2">Tình Trạng</dt>
        <dd class="col-sm-10">@Model.TinhTrang</dd>
    </dl>
</div>

<div>
    <h4>Chi Tiết Hóa Đơn</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Mã Sản Phẩm/Combo</th>
                <th>Tên Sản phẩm/Combo</th>
                <th>Số Lượng Mua</th>
                <th>Đơn Giá</th>
                <th>Chất Liệu</th>
                <th>Màu Sắc</th>
                <th>Chất Liệu</th>
                <th>Tổng Tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Chitiethoadons)
            {
                <tr>
                    <td>
                        @if(item.MaComBo_ThuocTinhSuyDien != null)
                        {
                            @item.MaComBo_ThuocTinhSuyDien
                        }
                        else
                        {
                            @item.MaSp
                        }
                    </td>
                    <td>
                        @if(item.MaComBo_ThuocTinhSuyDien != null)
                        {
                            foreach (var tencombo in ViewBag.listTencombo)
                            {
                                @(tencombo)
                            }
                        }
                        else
                        {
                            @(item.MaSpNavigation != null ? item.MaSpNavigation.TenSp : "N/A")
                        }                        
                    </td>
                    <td>
                        @if(item.MaComBo_ThuocTinhSuyDien != null)
                        {
                            @item.SoLuongMua <span>( combo )</span>
                        }
                        else
                        {
                            @item.SoLuongMua <span>( sản phẩm )</span>
                        }
                    </td>
                    <td>@item.DonGia.ToString("N2")</td>

                    <td>
                        @item.ChatLieu_ThuocTinhSuyDien
                    </td>
                    <td>
                        @item.MauSac_ThuocTinhSuyDien
                    </td>
                    <td>
                        @item.KichThuoc_ThuocTinhSuyDien
                    </td>
                    <td>
                        @(item.SoLuongMua * item.DonGia)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a asp-action="Index" class="btn btn-info">Quay lại</a>
