@model ASMCshrp4_12345.Models.Khachhang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center">Thông Tin Chi Tiết Khách Hàng</h1>

<div class="card my-4 shadow-sm">
    <div class="card-header">
        <h4>@Model.HoTen</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 font-weight-bold mb-3">Mã Khách Hàng:</div>
            <div class="col-md-8 mb-3">@Model.MaKh</div>

            <div class="col-md-4 font-weight-bold mb-3">Avatar:</div>
            <div class="col-md-8 mb-3">
                @if (!string.IsNullOrEmpty(Model.Avatar))
                {
                    <img src="~/HinhAnh/NhanVien/@Model.Avatar" alt="Avatar" class="img-thumbnail" style="width: 150px;">
                }
                else
                {
                    <span>Không có ảnh</span>
                }
            </div>

            <div class="col-md-4 font-weight-bold mb-3">Giới Tính:</div>
            <div class="col-md-8 mb-3">@(string.IsNullOrEmpty(Model.GioiTinh) ? "Chưa có giới tính" : Model.GioiTinh)</div>

            <div class="col-md-4 font-weight-bold mb-3">Ngày Sinh:</div>
            <div class="col-md-8 mb-3">@Model.NgaySinh?.ToString("dd/MM/yyyy")</div>

            <div class="col-md-4 font-weight-bold mb-3">Địa Chỉ:</div>
            <div class="col-md-8 mb-3">@(string.IsNullOrEmpty(Model.DiaChi) ? "Chưa có địa chỉ" : Model.DiaChi) </div>

            <div class="col-md-4 font-weight-bold mb-3">CCCD:</div>
            <div class="col-md-8 mb-3">@(string.IsNullOrEmpty(Model.Cccd) ? "Chưa có cccd" : Model.Cccd)</div>

            <div class="col-md-4 font-weight-bold mb-3">Số Điện Thoại:</div>
            <div class="col-md-8 mb-3">@(string.IsNullOrEmpty(Model.Sdt) ? "Chưa có Sdt" : Model.Sdt)</div>

            <div class="col-md-4 font-weight-bold mb-3">Email:</div>
            <div class="col-md-8 mb-3">@Model.Email</div>

            <div class="col-md-4 font-weight-bold mb-3">Tên Tài Khoản:</div>
            <div class="col-md-8 mb-3">@(string.IsNullOrEmpty(Model.TenTaiKhoan) ? "Chưa có tên tài khoản" : Model.TenTaiKhoan)</div>

            <div class="col-md-4 font-weight-bold mb-3">Mật Khẩu:</div>
            <div class="col-md-8 mb-3">@(string.IsNullOrEmpty(Model.MatKhau) ? "Chưa có mật khẩu" : Model.MatKhau)</div>

            <div class="col-md-4 font-weight-bold mb-3">Tình Trạng:</div>
            <div class="col-md-8 mb-3">@Model.TinhTrang</div>
        </div>
    </div>
    <div class="card-footer text-center">
        <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
    </div>
</div>