@using System.Security.Claims
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>QUẢN LÝ CỬA HÀNG</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->

    <link rel="icon" href="~/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/css/custom.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    @* toastr *@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    

</head>
<body>

    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">

                            <a href="index.html"><img class="logo_icon img-responsive" src="~/images/logo/logo_icon.png" alt="#" /></a>

                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">

                            <div class="user_img"><img class="img-responsive" src="~/HinhAnh/NhanVien/@(User.Claims.FirstOrDefault(p => p.Type == "Avatar")?.Value ?? "~/images/layout_img/default_avatar.jpg" )" alt="#" /></div>

                            <div class="user_info">
                                <h6>Xin chào, @(User.Claims.FirstOrDefault(p => p.Type == ClaimTypes.Name).Value) </h6>
                                <p><span class="online_animation"></span>Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <ul class="list-unstyled components">
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a asp-action="Index" asp-controller="Sanphams"> <span>QUẢN LÝ SẢN PHẨM</span></a></li>
                            <li><a asp-action="Index" asp-controller="Combo"> <span>QUẢN LÝ COMBO</span></a></li>
                            <li><a asp-action="Index" asp-controller="Khachhangs"><span>QUẢN LÝ KHÁCH HÀNG</span></a></li>
                            <li><a asp-action="Index" asp-controller="Nhanviens"> <span>QUẢN LÝ NHÂN VIÊN</span></a></li>
                            <li><a asp-action="InDex" asp-controller="NhaCungCap"> <span>QUẢN LÝ NHÀ CUNG CẤP</span></a></li>
                            <li><a asp-action="Index" asp-controller="ThuongHieu"> <span>QUẢN LÝ THƯƠNG HIỆU</span></a></li>
                            <li><a asp-action="Index" asp-controller="Hoadons"><span>QUẢN LÝ ĐƠN HÀNG</span></a></li>
                            <li><a asp-action="PhanHoi" asp-controller="PhanHoiBinhLuan"><span>QUẢN LÝ BÌNH LUẬN KHÁCH HÀNG</span></a></li>
                            <li><a asp-action="Index" asp-controller="ThongKe"> <span>THỐNG KÊ</span></a></li>
                        }
                        else
                        {
                            <li><a asp-action="Index" asp-controller="Sanphams"> <span>QUẢN LÝ SẢN PHẨM</span></a></li>
                            <li><a asp-action="Index" asp-controller="Khachhangs"><span>QUẢN LÝ KHÁCH HÀNG</span></a></li>
                            <li><a asp-action="Index" asp-controller="Hoadons"><span>QUẢN LÝ ĐƠN HÀNG</span></a></li>
                            <li><a asp-action="PhanHoi" asp-controller="PhanHoiBinhLuan"><span>QUẢN LÝ BÌNH LUẬN KHÁCH HÀNG</span></a></li>
                        }

                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>

                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul class="user_profile_dd">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                                <img class="img-responsive rounded-circle" src="~/HinhAnh/NhanVien/@(User.Claims.FirstOrDefault(p => p.Type == "Avatar")?.Value ?? "~/images/layout_img/default_avatar.jpg" )" alt="#" alt="#" />
                                                <span class="name_user">
                                                    @(User.Claims.FirstOrDefault(p => p.Type == ClaimTypes.Name).Value)
                                                </span>
                                            </a>
                                            <div class="dropdown-menu">
                                                <form asp-action="EditNhanVien" asp-controller="ThongTinNv">
                                                    <button type="submit" class="dropdown-item btn btn-light text-dark">
                                                        Cập nhật thông tin <i class="fa fa-sign-out"></i>
                                                    </button>
                                                </form>
                                                <form asp-action="Logout" asp-controller="Account_Staff" method="post">
                                                    <button type="submit" class="dropdown-item btn btn-light text-dark">
                                                        Đăng xuất <i class="fa fa-sign-out"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>



                        </div>
                    </nav>
                </div>
                <!-- end topbar -->
                <!-- dashboard inner -->

                @RenderBody()
                <!-- end dashboard inner -->
            </div>
        </div>
    </div>

    <!-- jQuery -->
    @await RenderSectionAsync("Scripts", required: false)
   




    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="~/js/animate.js"></script>
    <!-- select country -->
    <script src="~/js/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="~/js/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="~/js/Chart.min.js"></script>
    <script src="~/js/Chart.bundle.min.js"></script>
    <script src="~/js/utils.js"></script>
    <script src="~/js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="~/js/perfect-scrollbar.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- jQuery -->

    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->

    <script src="~/js/chart_custom_style1.js"></script>
    <script src="~/js/custom.js"></script>

@*     toastr *@

    <!-- Thêm jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Thêm Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    @* thongke *@
    

    <script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                toastr.success(successMessage);
            }
        });
        $(document).ready(function() {
            var ErrorMessage = '@TempData["ErrorMessage"]';
            if (ErrorMessage) {
                toastr.error(ErrorMessage);
            }
        });
 

    </script>

    <script src="/js/chart_custom_style1.js"></script>
    <script src="/js/custom.js"></script>
   


</body>
</html>
